<div class="container">
    <div class="row">
        
    </div>
</div>
<div class="container py-3">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="accordion" id="faqExample">

                <div class="card">
                    <div class="card-header p-2" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              ¿Por qué es importante denunciar?
                            </button>
                          </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                        <div class="card-body">
                            <b>R:</b> Las denuncias de viviendas en situación irregular nos ayudan a recuperar viviendas del estado y brindar soluciones a familias en situación de emergencia. Con su DENUNCIA, usted colabora con la Administración Provincial de Vivienda y Urbanismo de la Rioja, en el recupero de unidades habitacionales que se encuentran abandonadass, alquiladas, en venta o en cualquier otra situación irregular.
                            <br><br>
                            <strong>¡Su cooperación es agradecida!</strong>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header p-2" id="headingTwo">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          ¿Qué tipos de denuncias puedo hacer?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                        <div class="card-body">
                            <b>R:</b> Existen dos tipos de denuncias: Públicas y Anónimas
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              ¿Quién puede realizarla?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            Cualquier persona que detecte una situación irregular de habitabilidad de una vivienda adjudicada a través de la Administración Provincial de Vivienda y Urbanismo (alquiler, préstamo, venta, deshabitada, etc.).
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              ¿Qué se necesita?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                        <div class="card-body">
                            Completar el formulario de denuncia
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header p-2" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                              ¿Cómo es el ciruito del trámite?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                        <div class="card-body">
                            <div class="media">
                                <a class="d-block align-self-center w-100 h-100" href="#">
                                      <img src="https://vivienda.larioja.gov.ar/images/DeunciasOnLine/DenunciasCircuito.jpg" alt="">
                                </a>
                                <div class="media-body">
                                    <h5>Circuito completo del trámite</h5>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/row-->
</div>
<!--container-->