
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="/requisitos"><button type="button" class="btn btn-lg btn-primary boton btn-block"><i class="fas fa-info-circle"></i> Requisitos</button></a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="https://vivienda.larioja.gov.ar/boleta/"><button type="button" class="btn btn-lg btn-info boton btn-block"><i class="fas fa-scroll"></i> Boleta electronica</button></a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="https://vivienda.larioja.gov.ar/es/servicios/guia-de-tramites"><button type="button" class="btn btn-lg btn-info boton btn-block"> <i class="fas fa-search"></i> Consulta de expedientes</button></a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="https://vivienda.larioja.gov.ar/es/servicios/guia-de-tramites"><button type="button" class="btn btn-lg btn-default boton btn-block"><i class="fas fa-newspaper"></i> Consulta de Padrones</button></a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="https://vivienda.larioja.gov.ar/es/servicios/guia-de-tramites"><button type="button" class="btn btn-lg btn-default boton btn-block">Requisitos</button></a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="https://vivienda.larioja.gov.ar/es/servicios/guia-de-tramites"><button type="button" class="btn btn-lg btn-default boton btn-block">Requisitos</button></a>
            </div>
        </div>
        
        
        

        
        
    </div>
    