        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="/requisitos/con-terreno"><button type="button" class="btn btn-lg btn-primary btn-block boton"><i class="fas fa-info-circle"></i> Con Terreno</button></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="/requisitos/sin-terreno"><button type="button" class="btn btn-lg btn-info btn-block boton"><i class="fas fa-scroll"></i> Sin Terreno</button></a>
            </div>

        </div>
