
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 media-object">
                <a href="/requisitos/con-terreno/llave-en-mano"><button type="button" class="btn btn-lg btn-warning btn-block botonSecundario"><i class="fas fa-key"></i> Llave en mano en lote propio</button></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 media-object">
                <a href="/requisitos/con-terreno/autoconstruccion-lote-propio"><button type="button" class="btn btn-lg btn-info btn-block botonSecundario "><i class="fas fa-tools"></i> Autoconstrucción en lote propio</button></a>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 media-object">
                <a href="/requisitos/con-terreno/mejoramientos-habitacionales"><button type="button" class="btn btn-lg btn-info btn-block botonSecundario"><i class="fas fa-info-circle"></i> Mejoramientos habitacionales</button></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 media-object">
                <a href="/requisitos/con-terreno/creditos-garantia"><button type="button" class="btn btn-lg btn-warning btn-block botonSecundario"><i class="fas fa-scroll"></i> Créditos C/ Garantía Hipotecaria <br>(Construcción, ampliación y/o refacción)</button></a>
            </div>
    
        </div>
