
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 media-object">
                <a href="/requisitos/sin-terreno/llave-en-mano"><button type="button" class="btn btn-lg btn-warning btn-block botonSecundario"><i class="fas fa-key"></i> Llave en mano</button></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 media-object">
                <a href="/requisitos/sin-terreno/mi-primer-hogar"><button type="button" class="btn btn-lg btn-info btn-block botonSecundario "><i class="fas fa-home"></i> Mi primer Hogar</button></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 media-object">
                <a href="/requisitos/sin-terreno/autoconstruccion-lote-estado"><button type="button" class="btn btn-lg btn-info btn-block botonSecundario"><i class="fas fa-info-circle"></i> Autoconstruccion en lote del Estado</button></a>
            </div>

        </div>
        <div class="row">
            

    
        </div>