<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administración Provincial de Vivienda y Urbanismo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../../lib/print.min.js"></script>


</head>
<body>

    <div class="container">
        <div class="jumbotron">
                <div class="container">
                    <h1>A. P. V y U.</h1>
                    <p>Terminal de autogestión</p>
                </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                
                <img src="https://vivienda.larioja.gov.ar/images/Noticias/Malanzan_Portezuelo/Malanzan_Portezuelo3.jpg" class="img-responsive" alt="Image">
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p>Vivienda terminada en lote propio, con material y asistencia técnica aportada por APVyU y mano de obra aportada por el postulante. Destinado a personas solas y/o grupos familiares que cumplan con los requisitos establecidos en Ley 8.700 y sus reglamentarias.</p>
                <p>Ingresos entre 2 a 4 SALARIOS MÍNIMOS VITAL Y MÓVIL.</p>
            </div>
        </div>
        
        <div class="row">
            
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                
            </div>
            
            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
                    
            </div>
        </div>
        
        
        <div class="row">
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                
                <button type="button" class="btn btn-lg btn-success btn-block" onclick="printJS('./trabajo/TOTEM EXO/requisitos/ConTerreno/CT01.pdf')">Imprimir requisitos</button>
                
                
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                
            </div>
            
        </div>
        
        


</div>


<footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
</footer>
</body>
</html>