{{!-- <div class="starter-template">
		<div class="page-header"><h1>Facturas Online</h1></div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Mis Facturas</h4>
					</div>
					<div class="panel-body">

						<form class="form-horizontal" method="post" action="/boleta-electronica">
							<div class="form-group">
								<label class="col-lg-2 control-label">Código de Adjudicación	</label>
								<div class="col-lg-8">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-lock"></i>
										</span>
										<input type="number" class="form-control" name="cod_adj" id="cod_adj" required="">
									</div>
								</div>

								<div class="col-lg-2">
									<button type="submit" class="btn btn-warning">Ingresar</button>
									<input type="hidden" name="peticion" value="ver">
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<label>Para conocer de dónde obtener su número de adjudicación haga clic
										<a data-toggle="modal" data-target="#myModal">aquí</a></label>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div> --}}

	
	{{!-- <div class="container">
		
		<form action="/boleta-electronica" method="POST" class="form-horizontal formulario" role="form">
				<div class="form-group formulario">
					<legend>Ingrese su número de adjudicación</legend>
				</div>
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-5 ">
						<input class="search-bar formulario" type="number" name="cod_adj" id="cod_adj" aria-label="Código de adjudicación">
					</div>
				</div>
				
		
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-6">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
		</form>
		
	</div>
	 --}}

<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm" action="/boleta-electronica" method="POST">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" name="cod_adj" placeholder="Ingrese código de adjudicación">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Buscar</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>